# Python bytecode
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
.env/

# Poetry
poetry.lock

# Pytest
.cache/
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# Python build artifacts
dist/
build/
*.egg-info/
